body{
  height: 100vh;
  background-color: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: rgb(114, 114, 180);
}
.container{
  width: 90%;
 
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 30px;
  font-weight: 700;
  border: 2px solid rgb(25, 25, 43);
  
}
p{
  max-width: 900px;
}
h1{
  color: blueviolet;
  border-bottom: 2px solid rgb(45, 45, 77);
}
button{
  font-size: 20px;
  padding-left: 25px;
  padding-right: 25px;
  padding-top: 15px;
  padding-bottom: 15px;
  border-radius: 10px;
  background-color: black;
  color: rgb(89, 202, 202);
  border: 2px solid rgb(164, 164, 193);
  margin-bottom: 10px;
}
div.cursor{
  position: absolute;
  top: 50%;
  left: 50%;
  width: 15px;
  height: 15px;
  background: yellow;
  border-radius: 50%;
  transform: translate(-50%, -50%);
}
